In [4]:
list1 = [1,2,3,4,5]
list2 = []

for i in list1:
    list2.append(i*i)
print(list2)

[1, 4, 9, 16, 25]

In [5]:
fruits = ["apple","ornage","mango","grapes"]
fruits_new = []
for i in fruits:
    if i.startswith("m"):
        fruits_new.append(i)
print(fruits_new)

['mango']

In [ ]:
    first_value if condition  else second_value

### List Comprahension

list1 =[1, 2, 3, 4, 5]

#####  [ expression for items in collection]

In [8]:
new_list =  [i*i  for i in list1]

In [9]:
new_list

[1, 4, 9, 16, 25]

In [12]:
fruits = ["apple","ornage","mango","grapes"]
new = [i for i in fruits if i.startswith("g") ]

In [13]:
new

['grapes']

In [ ]:
#take values from 10 to 20 in list and print only odd nuymbers using list comprahemsion method

In [14]:
numbers = [i for i in range(10,21)]

In [15]:
numbers

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [16]:
val = []
for i in numbers:
    if i%3==0:
        val.append(i)

In [17]:
val

[12, 15, 18]

In [19]:
[ i+20  for i in numbers if i%3==0]

[32, 35, 38]

# Functions

In [20]:
print("Hello")
print("Hello World")
print("Hello World. I am data scientist")
print("Hello World . I am data Analyst")
print("Hai.How are you?")

Hello
Hello World
Hello World. I am data scientist
Hello World . I am data Analyst
Hai.How are you?

In [21]:
print("Hello")
print("Hello World")
print("Hello World. I am data scientist")
print("Hello World . I am data Analyst")
print("Hai.How are you?")

Hello
Hello World
Hello World. I am data scientist
Hello World . I am data Analyst
Hai.How are you?

In [22]:
print("Hello")
print("Hello World")
print("Hello World. I am data scientist")
print("Hello World . I am data Analyst")
print("Hai.How are you?")

Hello
Hello World
Hello World. I am data scientist
Hello World . I am data Analyst
Hai.How are you?

In [23]:
print("Hello")
print("Hello World")
print("Hello World. I am data scientist")
print("Hello World . I am data Analyst")
print("Hai.How are you?")

Hello
Hello World
Hello World. I am data scientist
Hello World . I am data Analyst
Hai.How are you?

In [ ]:
#code length is more
#code memory increases

### creating a function

In [26]:
def name():
    print("Function is  succesfully created")     #creating the function

In [27]:
name()  #calling the function

Function is  succesfully created

In [28]:
name()

Function is  succesfully created

In [29]:
name()

Function is  succesfully created

In [30]:
#sum of two numbers

In [31]:
def add(a,b):
    print(a+b)   #here a,b are arguments

In [33]:
add(10,13)

23

In [34]:
def even(a):
    if a%2==0:
        print("Even")
    else:
        print("Odd")

In [37]:
even(28)

Even

In [38]:
even(21)

Odd

In [39]:
even(101)

Odd

# Types of arguments

#### 1. Postion based arguments

In [40]:
def add(a,b,c):
    print(a+b-c)

In [41]:
add(10,20,40)

-10

In [42]:
add(20,40,10)

50

In [43]:
def hai(c,b,a):
    print(c-a+b)
hai(1,3,2)

2

In [44]:
hai(2,1,3)

0

In [45]:
hai(2,1,1)

2

In [47]:
hai(1,4,"h")

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [50]:
def concat(name1,name2):
    print(name1 + name2)

In [52]:
name1 = input("enter first name: ")
name2 = input("enter second name: ")
concat(name1,name2)

enter first name: Scientist
enter second name:  Data
Scientist Data

# keyword Arguments

In [57]:
def sub(a,b):
    print(a-b)

In [58]:
sub(10,20)

-10

In [59]:
sub(20,10)

10

In [60]:
sub(a = 20,b =10)

10

In [61]:
sub(b =10,a = 20)

10

In [62]:
sub(b = int(input("B value")),a = int(input("enter a value: ")))

B value45
enter a value: 21
-24

In [63]:
def division(n,n1):
    print(n/n1)
    print(n//n1)
    print(n%n1)

In [64]:
division(n = int(input('n value : ')),n1 = int(input('n1 value : ')))

n value : 556
n1 value : 56
9.928571428571429
9
52

In [65]:
#combination of postion and keyword arguments

In [1]:
def div(n1,n2):
    print(n1/n2)

In [68]:
div(10,4) #postion

2.5

In [69]:
div(n1 = 10,n2 = 4)  #keyword

2.5

In [3]:
div(10,n1 = 4)   #both combination

TypeError: div() got multiple values for argument 'n1'

In [74]:
div(n1 = 10, 4)  #both combination

#positional argument follows keyword argument

SyntaxError: positional argument follows keyword argument (905120293.py, line 1)

## Default Arguments

In [1]:
def details(name,age,city,role):
    print(name)
    print(age)
    print(city)
    print(role)

In [6]:
details("Ram",21,"HYD")

TypeError: details() missing 1 required positional argument: 'role'

In [7]:
def details(name,age,city,role="Data Analyst"):
    print(name)
    print(age)
    print(city)
    print(role)

In [8]:
details("ram",20,"VJW")

ram
20
VJW
Data Analyst

In [9]:
details("ram",20,"VJW","Data Scientist")

ram
20
VJW
Data Scientist

In [16]:
def wishes(name = "user"):
    print(f"Dear {name}.How are you? ")

In [19]:
wishes()

Dear user.How are you?

In [20]:
name = "Python Prorgamming language"

In [22]:
name.split('r')

['Python P', 'og', 'amming language']

In [27]:
def student(name,class1,city = "HYD",scool = "HPS"):
    print(f"name :{name}")
    print(f"class :{class1}")
    print(f"city :{city}")
    print(f"school :{scool}")

In [24]:
student("Ramesh",8,"hyd","HPS")

name :Ramesh
class :8
city :hyd
school :HPS

In [25]:
student("Rajani",9,"hyd","HPS")

name :Rajani
class :9
city :hyd
school :HPS

In [28]:
student("ramesh",4)

name :ramesh
class :4
city :HYD
school :HPS

In [31]:
student("ram",5,"HPS")

name :ram
class :5
city :HPS
school :HPS

In [36]:
def cricketer(name,age,ipl,country = "India"):
    print(f"{name },{age},{ipl},{country}")

In [37]:
cricketer("Kohli",30,"RCB","India")

Kohli,30,RCB,India

In [38]:
cricketer( "Rohit",32,"MI","India")

Rohit,32,MI,India

In [39]:
cricketer("Dhoni",34,"CSK")

Dhoni,34,CSK,India

In [40]:
def mul(a,b):
    print(a*b)

In [42]:
mul(10,20,30,40)

TypeError: mul() takes 2 positional arguments but 4 were given

## Variable length arguments

In [4]:
def mul(*n): 
    print(n)# *args-arguments
    for i in n:
        print(i**2)

In [5]:
mul(1,2,3,4,5,6,7,8,9,10,20,30)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30)
1
4
9
16
25
36
49
64
81
100
400
900

In [59]:
def add(*num):
    total = 0
    for i in num:
        total += i
    print(total)

In [61]:
add(1,2,3,4,5,6,12,12,13,14)

72

In [6]:
def key(**val):
    for i,j in val.items():
        print(j)

In [9]:
key(name = "Ram",age = 21)

Ram
21

# Function Variables

1. if variable is declared outside of the function is called global
2. if variable is declared iniside the function is called local variable

Note.Even we can declare global variable inside the function using global keyword

In [73]:
a = 10

def f1():
    print(a+2)
    
def f2():
    print(a-2)

In [74]:
f1()

12

In [75]:
f2()

8

In [76]:


def f3():
    b = 10
    print(b*2)
    
def f4():
    print(b-2)

In [77]:
f3()

20

In [78]:
f4()

NameError: name 'b' is not defined

In [79]:
c =100
def f3():
    c = 10
    print(c*2)
    
def f4():
    print(c-2)

In [80]:
f3()

20

In [81]:
f4()

98

In [ ]:
x = 10

def f5():
    print(x**2)
    
def f6():
    print(x-20)

In [97]:

def f5():
    global y
    y = 10
    print(y*2)
    
def f6():
    print(y-20)

In [98]:
f5()

20

In [99]:
f6()

-10

# Lambda function

1. Nameless or Ananymous function
2. function can be written in single line

In [102]:
def square(n):
    print(n**2)

In [103]:
square(3)

9

#### lambda  argument_list : expression

In [24]:
 c = lambda n : "even" if n%2 ==0 else "odd"

In [26]:
print(c(9))

odd

In [27]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

is_even = lambda x: "Even" if x % 2 == 0 else "Odd"

even_or_odd_list = list(map(is_even, numbers))

print(even_or_odd_list)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [108]:
add = lambda a,b: a+b

In [109]:
add(1,6)

7

In [110]:
#WPC to take 3 numbers as input and should be returned to multpilication of them

mul = lambda x,y,z: x*y*z

In [111]:
mul(3,4,5)

60

#### what is the differene betweeen return and print

In [10]:
def add(a,b):
    return (a+b)

In [13]:
t = add(10,20)
type(t)

int

In [132]:
def add2(x,y):
    return x+y

In [133]:
c= add2(10,20)

In [134]:
c

30

In [14]:
print(type(t))

<class 'int'>

In [136]:
print(type(c))

<class 'int'>

In [15]:
r = 10+30

In [16]:
print(type(r))

<class 'int'>

create a simple function that takes two inputs from  the user and results to moudulus operation

In [5]:
def modulo(a = int(input("enter a value")),b =int(input("enter b value"))):
    return a%b

enter a value5
enter b value2

In [6]:
modulo()

1

In [7]:
list1 = [1,2,3,4,5]

In [8]:
for i in list1:
    if i%2==1:
        print(i)

1
3
5

In [15]:
c = lambda x: x%2==1

In [18]:
c(11)

True

## Recursive Function

A recursive function is a function that calls itself during its execution. In other words, it is a programming technique where a function solves a problem by breaking it down into smaller instances of the same problem. Each recursive call processes a smaller part of the problem until it reaches a base case, which is the simplest form of the problem that can be solved directly without further recursion. Recursive functions are commonly used to solve problems that can be naturally divided into subproblems of the same type.

A recursive function typically consists of two main components:

1. Base Case: The base case is the condition that defines when the recursion should stop. When the base case is met, the function no longer calls itself and starts returning results back up the call stack.

2. Recursive Step: The recursive step is where the function calls itself with a modified input to solve a smaller version of the original problem. The recursive call allows the function to handle a part of the problem and make progress towards the base case.

Here's a classic example of a recursive function to calculate the factorial of a non-negative integer:

```python
def factorial(n):
    # Base case: If n is 0 or 1, return 1 as factorial(0) = factorial(1) = 1.
    if n == 0 or n == 1:
        return 1
    else:
        # Recursive step: Calculate factorial for (n-1) and multiply by n.
        return n * factorial(n - 1)
```

When calling `factorial(5)`, the function goes through the following steps:

1. `factorial(5)` calls `factorial(4)`
2. `factorial(4)` calls `factorial(3)`
3. `factorial(3)` calls `factorial(2)`
4. `factorial(2)` calls `factorial(1)`
5. `factorial(1)` returns 1 (base case reached)
6. `factorial(2)` returns `1 * 1 = 1`
7. `factorial(3)` returns `1 * 2 = 2`
8. `factorial(4)` returns `2 * 3 = 6`
9. `factorial(5)` returns `6 * 4 = 24` (final result)

Recursive functions are elegant and powerful when used correctly, but they require careful design to avoid infinite recursion or excessive function calls that could lead to performance issues. In some cases, iterative approaches (using loops) may be more efficient and easier to implement than their recursive counterparts.

The function which calls itself is called recursive function

In [34]:
def fact(n):
    if n>=0:
        if n<=1:
            return 1
        else:
            val = n *fact(n-1)
        return val
    else:
        return "Enter positive numbers only"

In [35]:
fact(n = int(input("Enter a number : ")))

Enter a number : 0

1

#### Fibonacci Sequence

In [37]:
def fib(n):
    if n<=1:
        return n
    else:
        return fib(n-1)+fib(n-2)

In [40]:
n = int(input("Enter length of the sequence: "))
if n<=0:
    print("Enter a postive number: ")
else:
    for i in range(n):
        print(fib(i))

Enter length of the sequence: 7
0
1
1
2
3
5
8

## filter()

In Python, filter() is a built-in function that provides a convenient way to filter elements from an iterable (e.g., a list, tuple, or string) based on a given function (predicate). It returns a new iterable containing only the elements for which the function returns True.

#### filter(function,sequence)

In [46]:
def even(n):
    if n%2 ==0:
        return n
    else:
        pass

In [47]:
list1 = [1,2,3,4,5,6,7,8]

In [48]:
list(filter(even,list1))

[2, 4, 6, 8]

In [52]:
fruits = ["apple","banana","orange","grapes","avacado","appricot"]
def func(fruit):
    if fruit.startswith("a"):
        return fruits

In [55]:
set(filter(func,fruits))

{'apple', 'appricot', 'avacado'}

In [56]:
tuple(filter(func,fruits))

('apple', 'avacado', 'appricot')

##### by using filter method,extract only ovels from user input

In [66]:
def oval(n):
    for i in n:
        if i in ["a","e","i","o","u"]:
            return i

In [69]:
name = input("Enter a name: ")

Enter a name: Python

In [70]:
list(filter(oval,name))

['o']

### map

In Python, map() is another built-in function that allows you to apply a given function to each item of an iterable (e.g., a list, tuple, or string). It returns a new iterable containing the results of applying the function to each element in the input iterable.

#### map(function,sequence)

In [77]:
def type1(n):
    if n%2 ==0:
        return "Even"
    else:
        return "Odd"

In [78]:
seq = [1,2,3,4,5,6,7,8,9,10]

In [79]:
list(map(type1,seq))

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [80]:
def val(n):
    return n/10

In [81]:
num = [10,20,30,40,50,60,70,80,90]

In [82]:
list(map(val,num))

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

### reduce()

In Python, `reduce()` is a built-in function that performs a cumulative operation on the items of an iterable (e.g., a list, tuple, or string) from left to right. It applies a specified function to the first two elements, then takes the result of that operation and the next element, and so on until all elements are processed. The `reduce()` function reduces the iterable to a single value.

To use the `reduce()` function, you need to import it from the `functools` module in Python:

```python
from functools import reduce
```

The syntax of the `reduce()` function is as follows:

```python
reduce(function, iterable[, initializer])
```

- `function`: The function that takes two arguments and returns a single result. This function is applied cumulatively to the items of the iterable from the left, and it should be a binary operation.

- `iterable`: The iterable (e.g., list, tuple, string) that will be reduced.

- `initializer` (optional): An optional argument that provides a default value or starting value for the reduction. If provided, the `reduce()` function starts with this value and then applies the function cumulatively. If not provided, the first two elements of the iterable are used as the initial pair.

Here's an example of how to use `reduce()`:

```python
from functools import reduce

# Function to calculate the sum of two numbers
def add(x, y):
    return x + y

# Input list
numbers = [1, 2, 3, 4, 5]

# Using reduce() to calculate the sum of numbers
sum_of_numbers = reduce(add, numbers)

print(sum_of_numbers)  # Output: 15 (1 + 2 + 3 + 4 + 5)
```

In this example, the `add()` function takes two arguments `x` and `y` and returns their sum. The `reduce()` function applies the `add()` function cumulatively to the elements of the `numbers` list, resulting in a single value, which is the sum of all the numbers in the list.

If you want to provide an initializer, you can do it as follows:

```python
from functools import reduce

# Function to calculate the sum of two numbers
def add(x, y):
    return x + y

# Input list
numbers = [1, 2, 3, 4, 5]

# Using reduce() with an initializer
initial_value = 10
sum_of_numbers = reduce(add, numbers, initial_value)

print(sum_of_numbers)  # Output: 25 (10 + 1 + 2 + 3 + 4 + 5)
```

The `reduce()` function is useful when you need to perform a cumulative operation on elements of an iterable and obtain a single value as the result. However, it's worth noting that the `reduce()` function has been removed from the built-in functions in Python 3 and is available in the `functools` module. Therefore, if you are using Python 3, you need to import it from the `functools` module as shown in the examples above.

In [85]:
from functools import * 
l=[10,20,30,40,50] 
func1 = lambda x,y:x*y

In [86]:
result=reduce(func1,l) 
print(result)

12000000

In [ ]:
lst =