# 1.Tuple Operations

1.Create a tuple named "fruits" containing the following fruits: "apple", "banana", "orange", "mango", and "kiwi".

2.Print the tuple "fruits".

3.print the length of the tuple "fruits".

4.Access and print the third element of the tuple "fruits". Use slicing to print the elements from the second to the fourth element of the tuple "fruits".

5.Create a new tuple named "more_fruits" containing the following fruits: "grape", "pear", "pineapple". .Concatenate the tuples "fruits" and "more_fruits" and assign the result to a new tuple named "all_fruits".

6.Print the tuple "all_fruits".

7.Check if "kiwi" is present in the tuple "all fruits" and print the result.

8.Find and print the index of "banana" in the tuple "all_fruits".

In [5]:
fruits=("apple", "banana", "orange", "mango","kiwi")
print(fruits)

('apple', 'banana', 'orange', 'mango', 'kiwi')

In [6]:
len(fruits)

5

In [7]:
fruits[3]

'mango'

In [8]:
fruits[2:5]

('orange', 'mango', 'kiwi')

In [9]:
more_fruits=("grape", "pear", "pineapple")
all_fruits=fruits+more_fruits
print(all_fruits)

('apple', 'banana', 'orange', 'mango', 'kiwi', 'grape', 'pear', 'pineapple')

In [10]:
"kiwi" in all_fruits

True

In [11]:
all_fruits.index("banana")

1

# 2. Set Operations


1.Create a set named "countries" containing the following countries: "USA", "Canada", "Mexico", "Brazil", "India". 

2.Print the set "countries".

3.Add "China" and "Germany" to the set "countries".

4.Print the updated set "countries". 

5.Create a set named "european_countries" containing the following countries: "Germany", "France", "Spain", "Italy", "United Kingdom".

6.Print the set "european_countries".

7.Find and print the intersection of the sets "countries" and "european_countries". 

8.Find and print the union of the sets "countries" and "european_countries".

9.Remove "India" from the set "countries". Print the undated set countries

In [12]:
countries={"USA", "Canada", "Mexico", "Brazil", "India"}

In [13]:
print(countries)

{'India', 'Canada', 'Brazil', 'Mexico', 'USA'}

In [14]:
countries.add("china")
countries.add("Germany")

In [15]:
print(countries)

{'India', 'china', 'Canada', 'Brazil', 'Mexico', 'Germany', 'USA'}

In [16]:
european_countries={"Germany", "France", "Spain", "Italy", "United Kingdom"}

In [17]:
print(european_countries)

{'United Kingdom', 'France', 'Germany', 'Spain', 'Italy'}

In [18]:
european_countries.union(countries)

{'Brazil',
 'Canada',
 'France',
 'Germany',
 'India',
 'Italy',
 'Mexico',
 'Spain',
 'USA',
 'United Kingdom',
 'china'}

In [19]:
countries.intersection(european_countries)

{'Germany'}

In [20]:
countries.remove("India")
print(countries)

{'china', 'Canada', 'Brazil', 'Mexico', 'Germany', 'USA'}