**1. write a program which will accept a word from the user and is going to check whether the word starts with or not**

In [25]:
name=input()
name=name.split()
for i in range(len(name)):
    if(name[i].startswith("a") or name[i].startswith("e")or name[i].startswith("i") or name[i].startswith("o") or 
    name[i].startswith("u")or name[i].startswith("A") or name[i].startswith("E")or name[i].startswith("I") or 
    name[i].startswith("O") or name[i].startswith("U")):
        print("the word startswith vowel")
    else:
        print("the word not startswith vowel")

innomatics research lab
the word startswith vowel
the word not startswith vowel
the word not startswith vowel

**2.write a program that prints the numbers from 1 to 10, each on a new line.**

In [16]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

**3.write a program that prints the even numbers 1 to 20, each on a new line.**

In [19]:
for i in range(1,21):
    if(i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20

**4.write a program that calculates and prints the square of each number from 1 to 5.**

In [20]:
for i in range(1,6):
    print(i**2)

1
4
9
16
25

**5.write a program that prints the multiples of 3 from 3 to 30, each on a new line.**

In [21]:
for i in range(3,31):
    if(i%3==0):
        print(i)

3
6
9
12
15
18
21
24
27
30

**6.write a program that prints the numbers from 10 to 1 in descending order, each on a new line,**

In [23]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1