1.Write a Python code snippet that prompts the user to enter their name and stores it in a variable. Print a welcome message using the entered name

In [2]:
name=input("enter the name:")

enter the name:wecome

In [3]:
print(name)

wecome

2.Create a Python program that calculates the area of a rectangle. Prompt the user to enter the length and width of the rectangle, store them in variables, and compute the area using the formula:

area = length width.

Finally, print the calculated area.

In [4]:
length=int(input())
width=int(input())
area=length*width
print(area)

40
36
1440

3.Create a Python program that calculates the average of three exam scores. Prompt the user to enter the scores, store them in variables, calculate the average, and print the result.

In [5]:
a=int(input())
b=int(input())
c=int(input())
avg=a+b+c/3
print(avg)

3
6
78
35.0

4.Write a Python program that converts temperature from Celsius to Fahrenheit. Prompt the user to enter a temperature in Celsius, store it in a variable, and convert it to Fahrenheit using the formula: Fahrenheit = (Celsius*9/5) + 32, and print the converted temperature. What are the logical operators in Python? Explain each one with an example

In [2]:
cels=int(input())
fohren=(cels*9/5)+32
print(fohren)

87
188.6

5.What are the logical operators in Python? Explain each one with an example.

1.AND
2.OR 
3.NOT

AND:
truth table
I/P1  I/P2   O/P
0(F)  0(F)   0(F)
0(F)  1(T)   0(F)
1(T)  0(F)   0(F)
1(T)  1(T)   1(T)
boolean/binary: it returns multiplication operation 
non-zero ---> it returns the last value.

In [3]:
0 and 1

0

In [4]:
0 and 0

0

In [5]:
1 and 0

0

In [6]:
1 and 1

1

In [7]:
2 and 3

3

In [8]:
3 and 2

2

OR Operation
i/p1   i/p2   o/p
0(F)  0(F)   0(F)
0(F)  1(T)   1(T)
1(T)  0(F)   1(T)
1(T)  1(T)   1(T)
boolean/binary :It returns the addition operation
non-zero ---> it returns the first value.

In [9]:
0 or 0

0

In [10]:
0 or 1

1

In [11]:
1 or 0

1

In [12]:
1 or 1

1

In [13]:
2 or 3

2

In [14]:
3 or 2

3

In [15]:
5 or 8

5

NOT: 
false ---> it returns  true
true ----> it returns false
non-zero --->false
0, 0.0 ,"" ----> true

In [16]:
not 8

False

In [17]:
not 0

True

In [18]:
not 0.0

True

In [19]:
not ""

True

In [20]:
not " "

False

In [21]:
not "@"

False

In [22]:
not 100

False

6.what are the membership operators in python? explaine use cases with an example

the membership operators are two types, using membership operators we can check whethere the elements (or) digits are present in the dataset or not
1. in
2. not

In [30]:
name=input("enter the name:")
"la" in name

enter the name:Lakshmi is a good girl

False

In [31]:
"La" in name

True

In [25]:
" is" in name

True

In [26]:
"good " in name

True

In [27]:
" " in name

True

In [28]:
" Inno" in name

False

In [29]:
" innomat" in name

False

In [32]:
" Lakshmi" in name

False

In [33]:
" Innomatics" not in name

True

In [34]:
" Lakshmi" not in name

True

In [35]:
"Lakshmi" not in name

False

7. list and briefly explain basic data types available in python

three basic data types are available in python
1. numerical data types
2. non-numerical data types
3. sequencial/collection data types

**numerical data tyeps**

1. int
2. float
3. complex

In [38]:
#int 
a=10
b=-12
c=1236

In [39]:
print(a+b)
print(c+b)
print(c-a)

-2
1224
1226

In [40]:
#float
a=10.0
b=23.04
c=43.6453

In [41]:
print(a+b)
print(c+b)
print(a-c)

33.04
66.6853
-33.6453

In [43]:
#complext
a=2+4j
b=1+0j
c=0+3j

In [44]:
print(a+b)
print(c+b)
print(c-a)

(3+4j)
(1+3j)
(-2-1j)

**non-numerical data types**

boolean:
A=True
b=False

In [46]:
a=True
print(a)

True

In [48]:
b=False

In [49]:
print(b)

False

In [50]:
#string
name="Lakshmi"
password="sabkhds5732jbsxjh@"
name1="innomatics research labs"

In [51]:
print(name)

Lakshmi

In [53]:
print(name+" "+name1)

Lakshmi innomatics research labs

8. Write a Python code snippet that assigns a value to a variable and determines its data type using the type() function.

In [1]:
a=10
b=23.0
c=2+3+8j
name="lakshmi"
d=True
print(type(a))
print(type(b))
print(type(c))
print(type(name))
print(type(d))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>